* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(187, 220, 250, .5);
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.red {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    color: #C41D34;
}

.header {
    padding-top: 20px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__image {
    width: 80px;
    height: 80px;
    background: url('../img/logo.png') center center / cover no-repeat;
    margin-right: 20px;
}

.header__name, .header__city {
    font-size: 30px;
}

.main {
    padding-top: 30px;
}

.main__images {
    height: 850px;
    position: relative;
}

.main__image_1 {
    width: 1300px;
    height: 850px;
    position: absolute;
    background: url('../img/cloud.png') center center / cover no-repeat;
    left: 50%;
    transform: translateX(-50%);
}

.main__image_2 {
    width: 466px;
    height: 547px;
    margin-top: 70px;
    position: absolute;
    background: url('../img/spirit.png') center center / cover no-repeat;
}

.main__image_3 {
    width: 446px;
    height: 510px;
    margin-top: 155px;
    margin-left: 320px;
    position: absolute;
    background: url('../img/shisha.png') center center / cover no-repeat;
}

.links {
    position: absolute;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.social__link_1 {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: url('../img/vk70.png') center center / cover no-repeat;
}

.social__link_1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.social__link_2 {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 50%;
    background: url('../img/viber70.png') center center / cover no-repeat;
}

.social__link_2 a {
    display: block;
    width: 100%;
    height: 100%;
}

.social__link_3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url('../img/wa70.png') center center / cover no-repeat;
}

.social__link_3 a {
    display: block;
    width: 100%;
    height: 100%;
}

.main__call {
    position: absolute;
    top: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.call {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url('../img/call.png') center center / cover no-repeat;
    border: 3px solid #77AAEA;
    background: #fff;
    animation-name: call-scale;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

@keyframes call-scale {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 110px;
        height: 110px;
    }
}

.call__round {
    width: 84%;
    height: 84%;
    border-radius: 50%;
    background: #77AAEA url('../img/phone.svg') center center no-repeat;
}

.call__round a {
    display: block;
    width: 100%;
    height: 100%;
}

.content {
    width: 700px;
    margin: 0 auto;
}

.main__title {
    margin: 70px 0 55px 0;
    text-align: center;
    font-size: 48px;
}

.main__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 200%;
}

.main__text span {
    font-weight: 700; 
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
}

.main__hookah {
    width: 188px;
    height: 259px;
}

.main__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__block .main__text {
    margin: 7px 0;
}

.footer {
    margin-top: 100px;
    height: 245px;
    position: relative;
}

.footer__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../img/cloud.png') center -735px no-repeat;
    transform: rotate(-180deg);
    z-index: -1;
    opacity: .6;
}

.footer__wrapper {
    padding-top: 100px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
}

.footer__social_1 {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    border-radius: 50%;
    background: url('../img/vk60.png') center center / cover no-repeat;
}

.footer__social_1 a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__social_2 {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    border-radius: 50%;
    background: url('../img/viber60.png') center center / cover no-repeat;
}

.footer__social_2 a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__social_3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('../img/wa60.png') center center / cover no-repeat;
}

.footer__social_3 a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__phone a {
    text-decoration: none;
    font-size: 40px;
}

@media(max-width: 1300px) {
    .main__image_1 {
        width: 1050px;
    }
}

@media(max-width: 1100px) {
    .container {
        width: 900px;
    }
    .main__images {
        height: 700px;
    }
    .main__image_1 {
        width: 900px;
        height: 730px;
    }
    .main__image_2 {
        width: 400px;
        height: 450px;
        left: 70px;
    }
    .main__image_3 {
        width: 400px;
        height: 480px;
        left: 50px;
    }
}

@media(max-width: 992px) {
    .container {
        width: 720px;
    }
    .main__images {
        height: 600px;
    }
    .links {
        top: 100px;
        align-items: flex-end;
    }
    .social__link_1, .social__link_2, .social__link_3 {
        width: 60px;
        height: 60px;
    }
    .main__image_1 {
        width: 740px;
        height: 530px;
        margin-top: 40px;
    }
    .main__image_2 {
        width: 320px;
        height: 380px;
        left: 100px;
    }
    .main__image_3 {
        width: 270px;
        height: 320px;
        left: 30px;
    }
    .main__call {
        top: 310px;
        left: -30px;
    }
}

@media(max-width: 768px) {
    .container {
        width: 540px;
    }
    .content {
        width: 540px;
    }
    .header__image {
        width: 50px;
        height: 50px;
    }
    .header__name, .header__city {
        font-size: 24px;
    }
    .main__images {
        height: 420px;
    }
    .main__image_1 {
        width: 570px;
        height: 370px;
        margin-top: 40px;
    }
    .main__image_2 {
        width: 220px;
        height: 250px;
        left: 60px;
    }
    .main__image_3 {
        width: 200px;
        height: 240px;
        left: -100px;
        top: -30px;
    }
    .links {
        top: 55px;
    }
    .social__link_1 {
        width: 50px;
        height: 50px;
    }
    .social__link_2 {
        width: 50px;
        height: 50px;
    }
    .social__link_3 {
        width: 50px;
        height: 50px;
    }
    .main__call {
        top: 250px;
        left: -35px;
    }
    .call {
        width: 90px;
        height: 90px;
    }
    .main__title {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .main__wrapper {
        align-items: center;
    }
    .main__hookah {
        width: 95px;
        height: 131px;
    }
    .main__hookah img{
        width: 100%;
    }
    .main__text {
        font-size: 16px;
    }
    .main__block .main__text {
        margin: 0;
    }
    .footer {
        height: 180px;
    }
    .footer__background {
        background: url('../img/cloud.png') center -795px;
    }
    .footer__wrapper {
        padding-top: 50px;
        height: 180px;
    }
    .footer__social_1, .footer__social_2, .footer__social_3 {
        width: 50px;
        height: 50px;
    }
    .footer__phone a  {
        font-size: 32px;
    }
}

@media(max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 8px;
        overflow: hidden;
    }
    .content {
        width: 100%;
        padding: 0 8px;
    }
    .header__image {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .header__name, .header__city {
        font-size: 20px;
    }
    .main {
        padding-top: 0;
    }
    .main__images {
        height: 360px;
    }
    .main__image_1 {
        width: 470px;
        height: 310px;
        margin-top: 40px;
    }
    .main__image_2 {
        width: 170px;
        height: 200px;
        left: 20%;
        margin-top: 40px;
    }
    .main__image_3 {
        width: 150px;
        height: 180px;
        left: auto;
        right: 20%;
        top: -30px;
    }
    .links {
        flex-direction: row;
        position: static;
        justify-content: space-between;
        align-items: center;
    }
    .main__social {
        display: flex;
        
    }
    .main__call {
        position: static;
    }
    .social__link_1, .social__link_2, .social__link_3 {
        width: 55px;
        height: 55px;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .main__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .main__text {
        font-size: 14px;
        line-height: 180%;
    }
    .main__hookah {
        display: none;
    }
    .main__block .main__text {
        margin-bottom: 5px;
    }
    .footer {
        margin-top: 50px;
    }
    .footer__wrapper {
        flex-direction: column;
        justify-content: space-around;
    }
    .footer__phone {
        margin-top: 20px 0;
    }
    .footer__phone a {
        font-size: 30px;
    }
}

@media(max-width: 400px) {
    .social__link_1, .social__link_2, .social__link_3 {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
    .main__image_2 {
        left: 10%;
    }
    .main__image_3 {
        right: 10%;
    }
}